/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.imageright {
    float: right;
    padding-left: 25px;
    padding-bottom: 25px;
}
.imageleft {
    float: left;
    padding-right: 25px;
    padding-bottom: 25px;
}
.imagecenter {
    display: block;
    margin: 0 auto;
}
figure {
    text-align: center;
    img {
        display: block;
    }
    figcaption {
        margin-top: $padding-1 !important;
    }
    figcaption p {
        font-size: 0.875em;
//        color: var(--gray-700);
    }
}