/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-display: block;
}

code {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-display: block;
}
