{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) }}
{{ $oriented := $original.Filter images.AutoOrient }}

<figure class="{{ with .Get "class" }}{{ . }}{{ end }}">
    <img
        src="{{ $oriented.RelPermalink }}"
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        width="{{ $oriented.Width -}}"
        height="{{ $oriented.Height -}}"
        loading="lazy"
    />
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
    <figcaption>
        {{ with (.Get "title") -}}
            <h4>{{ . }}</h4>
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
            {{- .Get "caption" | markdownify -}}
            {{- with .Get "attrlink" }}
                <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
    {{- end }}
</figure>