{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) }}

<figure{{ if or (.Get "class") (eq (.Get "align") "center") }} class="
           {{- if eq (.Get "align") "center" }}align-center {{ end }}
           {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
    <img
        loading="lazy"
        src="{{ $original.RelPermalink }}{{- if eq (.Get "align") "center" }}#center{{- end }}"
        {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
        {{- end }}
        width="{{ $original.Width -}}"
        height="{{ $original.Height -}}"
    />
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
    <figcaption>
        {{ with (.Get "title") -}}
            {{ . }}
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
            {{- .Get "caption" | markdownify -}}
            {{- with .Get "attrlink" }}
                <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
    {{- end }}
</figure>