{{- $alt := .Get "alt" -}}
{{- $class := .Get "class" -}}

{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) }}
{{ with $original }}
{{ $small := .Resize "360x" }}

<a href="{{ $original.RelPermalink }}">
    <img 
        src="{{ $small.RelPermalink }}"
        class="{{ if $class }}{{ $class }}{{ end }}"
        width="{{ $small.Width }}"
        height="{{ $small.Height }}"
        alt="{{ if $alt }}{{ $alt }}{{ end }}"
        loading="lazy"
    >
</a>

{{ end }}