{{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) }}
{{ $oriented := $original.Filter images.AutoOrient }}
{{ $semiwidth := (.Get "w") }}
{{ $newwidth := (float $semiwidth) }}
{{ $oldwidth := (float $oriented.Width) }}
{{ $oldheight := (float $oriented.Height) }}
{{ $ratio := (div $oldheight $oldwidth) }}
{{ $newheight := (mul $ratio $newwidth) }}

<a href="{{ $oriented.RelPermalink }}">
    <img
        src="{{ $oriented.RelPermalink }}"
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        width="{{ $newwidth -}}"
        height="{{ $newheight -}}"
        loading="lazy"
        class="{{ with .Get "class" }}{{ . }}{{ end }}"
    />
</a>